/* || GENERAL STYLES */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 75%;
  margin: 0 auto;
  background-color: #fefdfb;
  color: #333;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1,
h3,
h4 {
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  display: flex;
  font-size: 2.4rem;
}

h3::before,
h3::after {
  content: "";
  flex: 1;
  border-bottom: #333 solid 2px;
  margin: auto;
}

h3::before {
  margin-right: 20px;
}

h3::after {
  margin-left: 20px;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* || HEADER */

header {
  margin: 50px 0;
}

header a {
  cursor: pointer;
  text-decoration-style: solid;
  -webkit-text-decoration-style: solid;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-color: #cdaf95;
  -webkit-text-decoration-color: #cdaf95;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  font-size: 2rem;
}

header a:hover {
  text-decoration-color: #eecbad;
  -webkit-text-decoration-color: #eecbad;
}

/* || PORTFOLIO */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
}

.card {
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-description {
  margin: 1em;
}

.card:hover {
  background-color: #fdf9f3;
}

.card:hover img {
  opacity: 0.75;
}

.card:hover h4 {
  text-decoration-style: solid;
  -webkit-text-decoration-style: solid;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-color: #eecbad;
  -webkit-text-decoration-color: #eecbad;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.tools-list {
  font-family: "Source Code Pro", monospace;
}

/* || CONTACT */

.contact-container {
  display: flex;
  justify-content: center;
}

.icon {
  margin-left: 15px;
  padding-bottom: 2px;
}

.icon:hover {
  border-bottom: #eecbad solid 2px;
}

ul li:first-child .icon {
  margin-left: 0; /* removes space from first icon */
}

/* || FOOTER */

footer {
  margin: 40px 0 20px;
  font-size: 1.6rem;
}
